:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
body {
  margin: 0;
}
button {
  cursor: pointer;
}
h2,
h3,
h4,
h5 {
  margin: 0;
}
input {
  height: 35px;
}
form {
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
p {
  margin: 0;
}
.form-button {
  width: 200px;
  padding: 10px;
  border-radius: 30px;
  margin: 10px;
}
.PhoneInputCountry {
  border: black 1px solid;
  padding: 5px;
}
